#root {
  max-width: 100%;
  margin: auto auto;
  padding: 2rem;
  text-align: center;
}

#main_image{
  width: 50%;
  height: 50%;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.pd-2{
  padding: 2em;
}

.mt-4{
  margin-top: 10em;
}

.container{
  width: 60%;
  height: 50%;
  margin: auto;
}

.decor_none{
  text-decoration: none;
}

.w-100{
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


@media only screen and (max-width: 600px) {
  .center {
    flex-direction: column;
  }
}